@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
body{
  font-family: "Quicksand", sans-serif;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
}
.container{
  max-width:1100px;
  margin:auto;
}

.btn{
  display:inline-block;
  padding:15px 30px;
  border:none;
  border-radius:15px;
}
.btn-primary{
  font-size:19px;
  font-weight:500;
  color:#fff;
  background-color: #F08000;
  animation:btn 1s ease-in-out;
}
.btn-secondary{
  color:#fff;
  background:#383848;
  margin-top:2rem;
  transition:all 0.6s ease;
}

.btn-primary:hover, .btn-secondary:hover{
  background-color: #F08000;
  transform : scale(1.1);
}
header{
height:100vh;
position: relative;
}
#navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:70px;
} 
#navbar h2{
  padding-top:10px;
  margin-left:50px;
  font-size:30px;
  font-weight:600;
  color:#000;
}
#navbar .menu-icon{
  display:none;
}
#navbar nav ul{
  display:flex;
  margin-right:100px;
}
#navbar ul li a{
  padding:15px 20px;
  color:#F08000;
  font-weight:600;
  font-size:18px;
}
#navbar ul li a:hover{
  border-bottom:2px solid #F08000;
  color:#000;
}
header .content{
  background:url("images\ 10/background1.jpg");
  background-position: center;
  background-size: cover;
  padding-top:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:91%;
}

header .content h1{
  font-size:40px;
  color:#000;
  animation:welcome 2s ease-in-out;
}
.primary-text{
  color:#fff;
}

header .content p{
  margin:20px 0 40px;
  color:#fff;
  font-size:16px;
  font-weight:500;
  animation:welcome 2s ease-in-out;
}
#about{
  padding-top:50px;
  height:80vh;
  display:flex;
  justify-content: center;
  align-items: center;
 background: #f4f4f4; 
}
#about .title , #offers .title, #menu .title{
  text-align:center;
  margin-bottom: 4rem;
}
#about h2,#offers h2 , #menu h2 ,#contact h2{
  text-align:center;
  font-size:40px;
  margin-bottom:20px;
  color:#F08000;
} 
#about h2:hover,
#offers h2:hover,
#menu h2:hover,
#contact h2:hover{
  color:#000;
} 
#about .title p , #menu .title p{
  font-size:16px;
  color:#9a9a9a;
  font-weight:600;
}
#about .about-content{
  display:flex;
  justify-content: space-between;
}
#about .about-content img{
  width:450px;
}
#about .about-content p{
  color:#000;
  margin-right:7rem;
  font-weight:500;
  line-height:1.6;
}
#offers{
  padding: 40px 0;
  height:100%;
  display:flex;
  justify-content: center;
}
#offers .card1, .card2 ,.card3{
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-right:30px;
  transition:transform 0.6s;
  padding:0 10px; 
}

#offers .offers-items .card1:hover,
#offers .offers-items .card2:hover,
#offers .offers-items .card3:hover{
  cursor:pointer;
  transform:scale(1.1);
}
#offers h2{
  color:#F08000;
}
#offers h2:hover{
  color:#000;
}
#offers .offers-items{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#000;
}
#offers .offers-items .card1 img,
#offers .offers-items .card2 img,
#offers .offers-items .card3 img{
  padding:10px 0;
  width:120px;
  height:130px;
  border-radius:50px;
  text-align:center;
}
#offers .offer-items h3{
  font-size:25px;
  margin:15px 0;
}

#offers .offers-items p{
  padding: 10px 0 5px 0;
  font-size:18px;
  font-weight:500;
  color:#000;
}
#offers .offers-items span{
  font-size:23px;
  font-weight:600;
  margin-left:5px;
  color:#F08000;
}
#menu{
  padding:20px 0;
  background-color: #f4f4f4; 
}
#menu .menu-items{
  display:flex;
  flex-direction:column;
}
#menu .menu-items .menu-items-left,
.menu-items.menu-items-right{
  display:flex;
  flex-direction:row;
  margin-bottom:80px;
}
#menu .menu-items .menu-items-left .menu-item,
.menu-items.menu-items-right .menu-item{
  padding-right:50px;
  transition:all 0.3s;
}
#menu .menu-items .menu-items-left .menu-item:hover,
.menu-items.menu-items-right .menu-item:hover{
  transform:scale(1.1);
}
#menu .menu-items .menu-item img{
  width:100px;
  height:100px;
  border-radius:50%;
  margin-right:20px;
  align-items:center;
}
#menu .menu-items .menu-item p{
  font-size:15px;
  font-weight:600;
}
#menu .menu-items .menu-item h3{
  color:#383848;
  padding-bottom:10px;
}
#menu .menu-items .menu-item span{
  padding-left:10px;
  color:#F08000;
}
#contact{
  margin:50px 0;
  background: #fff;
}
#contact .container{
  max-width:900px;
}
#contact .contact-content{
  display:flex;
  justify-content: space-between;
  align-items:center;
  align-items: center;
}
#contact .contact-content .contact-info{
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:100%;
}
#contact .contact-content .contact-info .first,
#contact .contact-content .contact-info .second{
  margin:30px 0;
  line-height:1.7;
}
#contact .contact-content .contact-info h3{
  font-size:28px;
  color:#383848;
  margin-bottom:10px;
}
#contact .contact-content .contact-info p{
  color:#383848;
  font-size:15px;
  font-weight:600;
  padding-left:10px;
}
#contact .contact-content .contact-info .second .social-icons{
  display:flex;
  gap:10px;
}
#contact .contact-content .contact-info .social-icons a i{
  color:#fff;
  background:#383848;
  margin-top:10px;
  padding:15px;
  border-radius:50%;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
}
#contact .contact-content .contact-info .social-icons a i:hover{
  background:#F08000;
  color:#383848;
}
#footer{
  background:#383848;
  text-align:center;
  color:#fff;
  padding:15px 0;
  font-size:14px;
}
#footer p span{
  color:#F08000;
  font-size:18px;
  font-weight:700;
  text-decoration: underline;
}
#footer a{
  color:#fff;
}
@media (max-width: 600px) {
  body{
    padding:0;
    height:100%;
    width:100%;
    margin:0;
  }
  #navbar nav{
    display:none;
  }
  #navbar h2{
    padding-left:50px;
    color:#F08000;
  }
  header .content{
    background-size:cover;
  }
  header h2,h1,p{
    font-size:13px;
    text-align:center;
  }
  #about{
    height:100%;
    padding-left:30px;
  }
  #about p{
    font-size:17px;
    font-weight:600;
    margin-left:5px;
    text-align:center;
  }
  #about img{
    display:none;
  }
  #about .btn-secondary{
    margin:30px 20px 30px 0;
  }
  #offers{
    height:100%;
    width:100%;
    padding:50px 10px;
  }
  #offers .offers-items{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    margin-left:50px;
  }
  #offers .offers-items .card1 ,.card2{
    margin-bottom:20px;
  }
#offers .offers-items .card1 img,
#offers .offers-items .card2 img,
#offers .offers-items .card3 img{
  margin:0 20px;
  width:120px;
  height:130px;
  border-radius:50px;
  text-align:center;
}
   #offers .offers-items 
  .card1 h3,
  .card2 h3,
  .card3 h3{
    padding-left:20px;
  }
  #menu{
    padding: 0  20px;
  }
  #menu .menu-items{
  display:flex;
  flex-direction:row;
  align-items:center;
}
#menu .menu-items .menu-items-right,
#menu .menu-items .menu-items-left {
  display:flex;
  flex-direction: column;
  align-items:center;
}
#menu .menu-items .menu-items-right .menu-item{
  align-items:center;
}  
#menu p{
  padding-right:10px;
  text-align:center;
}
     #contact{
      padding:0 10px 0 0;
     }
     #contact h3{
      padding-left:10px;
    }
     #contact p{
      color:#383848;
      font-size:15px;
      font-weight:600;
      padding-left:10px;
    }
    #contact .contact-content .contact-info{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items:center;
      text-align:center;
    }
    #contact .contact-content .contact-info .second .social-icons{
      display:flex;
      gap:10px;
      flex-wrap:wrap;
    }
   #footer p span{
  color:#F08000;
  font-size:18px;
  font-weight:700;
  text-decoration: underline;
}
}
@media (max-width: 1300px) {
  body{
    padding:0;
    height:100%;
    width:100%;
    margin:0;
  }
  header .content{
    background-size:cover;
  }
  header h2,h1,p{
    font-size:13px;
    text-align:center;
  }
  #about{
    height:100%;
    padding-left:30px;
  }
  #about p{
    font-size:17px;
    font-weight:600;
    margin-left:5px;
    text-align:center;
  }
  #about img{
    display:none;
  }
  #about .btn-secondary{
    margin:30px 20px 30px 0;
  }
  #offers{
    height:100%;
    width:100%;
    padding:50px 10px;
  }
  #offers .offers-items{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    margin-left:50px;
  }
  #offers .offers-items .card1 ,.card2{
    margin-bottom:20px;
  }
   #offers .offers-items
  .card1 img,
  .card2 img,
  .card3 img{
    margin-left:30px;
   }
   #offers .offers-items 
  .card1 h3,
  .card2 h3,
  .card3 h3{
    padding-left:20px;
  }
  #menu{
  padding:20px 0;
  background-color: #f4f4f4; 
  padding-left:50px;
}
#menu .menu-items{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}
#menu .menu-items .menu-items-left,
.menu-items.menu-items-right{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-bottom:80px;
}
#menu .menu-items .menu-items-left .menu-item,
.menu-items.menu-items-right .menu-item{
  padding-bottom:30px;
  transition:all 0.3s;
}
#menu .menu-items .menu-items-left .menu-item:hover,
.menu-items.menu-items-right .menu-item:hover{
  transform:scale(1.1);
}
#menu .menu-items .menu-item img{
  width:100px;
  height:100px;
  border-radius:50%;
  margin-right:20px;
  align-items:center;
}
#menu .menu-items .menu-item p{
  font-size:15px;
  font-weight:600;
}
#menu .menu-items .menu-item h3{
  color:#383848;
  padding-bottom:10px;
}
#menu .menu-items .menu-item span{
  padding-left:10px;
  color:#F08000;
}
  #contact{
    padding:0 10px 0 0;
  }
   #contact h3{
      padding-left:10px;
    }
    #contact p{
      color:#383848;
      font-size:15px;
      font-weight:600;
      padding-left:10px;
    }
    #contact .contact-content .contact-info{
      display:flex;
      justify-content: space-between;
      align-items:center;
    }
    #contact .contact-content .contact-info .second .social-icons{
      display:flex;
      gap:10px;
      flex-wrap:wrap;
      padding-left:5px;
    }
  #footer p span{
  color:#F08000;
  font-size:18px;
  font-weight:700;
  text-decoration: underline;
}
}

@keyframes welcome {
  0%{
    transform:translateX(-200px);
    opacity:0;
  }
  100%{
    transform:translateX(0);
    opacity:5;
  }
}
@keyframes btn {
  0%{
    transform:translateY(100px);
    opacity:0;
  }
  100%{
    transform:translateY(0px);
    opacity:5;
  }
}